.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: all 0.2s ease;
}

.collapsed {
  justify-content: center;
}

.disabled {
  cursor: default;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.text {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
