.layout {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden; // чтобы ничего не вылазило
}

.main {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 10px;
  width: 100%;
  min-width: 0; // ключевой момент: позволяет сжиматься при расширении navbar
  overflow: auto; // чтобы внутри можно было скроллить
}
