.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  gap: 5px;
  width: 100%;
}

.v {
  &Primary {

  }

  &Transparent {
    background: transparent;
  }
}
