@use './variables' as *;

.flex {
  display: flex;

  &Column {
    display: flex;
    flex-direction: column;
  }
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}


.light {
  color: $gray-200;
}

.hr {
  width: 100%;
}
